body {
    background: black;
    color: white;
    height: 100%;
    font-size: x-large;
}

.bright {
    opacity: 1.0;
}

.dim {
    opacity: 0.4;
}

.off {
    opacity: 0;
}

p {
    line-height: 70%
}

#time {
    text-align: center;
    font-size: xx-large;
}

#left {
    position: fixed;
    left: 0;
    width: 40%
}

#message {
    text-align: center;
    font-size: x-large;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#temperature {
    font-size: xx-large;
}

#irc {
    position: fixed;
    right: 0;
    width: 30%;
    text-align: left;
}

#irc p {
    line-height: 90%
}

.up {
    color: green;
}

.down {
    color: red;
}